{
    "name": "Void Odyssey",
    "background": "{{void-deep}}",
    "foreground": "{{vo-text-primary}}",
    "cursorColor": "{{cyan-glow}}",
    "selectionBackground": "{{purple-mid}}",
    "black": "{{void-surface-2}}",
    "red": "{{health-low}}",
    "green": "{{health-full}}",
    "yellow": "{{health-mid}}",
    "blue": "{{shield-full}}",
    "purple": "{{purple-bright}}",
    "cyan": "{{cyan-mid}}",
    "white": "{{vo-text-secondary}}",
    "brightBlack": "{{vo-text-muted}}",
    "brightRed": "{{dps-bright}}",
    "brightGreen": "{{health-bright}}",
    "brightYellow": "{{tac-bright}}",
    "brightBlue": "{{shield-bright}}",
    "brightPurple": "{{purple-glow}}",
    "brightCyan": "{{cyan-bright}}",
    "brightWhite": "{{vo-text-primary}}"
}
